# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv
venv/
env/

# Logs
*.log

# Test & docs
/tests/
examples/
README.md

# IDE files
.idea/
.vscode/
